*.log
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db

target/
*.iml
*.class
*.jar
*.war
*.ear
mvnw
mvnw.cmd
.settings/
.classpath
.project
HELP.md

.idea/
.vscode/
*.launch
*.factorypath

ejb-module/target/

*.pid
*.tar
*.log
.env
pgdata/
postgres-data/
docker-compose.override.yml

frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.angular/
frontend/.env
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store
frontend/package-lock.json
frontend/tmp/
frontend/out-tsc/

**/target/
**/build/
**/.gradle/
**/.cache/
**/coverage/
**/reports/
